


<div class="background"></div>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card">
      <div class="card-body">
        <img class="logo" src="../../../assets/images/logowhite.png" alt="logo">
        <h1 style="text-align:center;">Register</h1>

        <form class="example-form" method="POST" action="/login" style="width:100%">
          <mat-form-field  class="example-full-width my-full-width mb-3">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Ex. Mint" [(ngModel)]="newUser.user_name" name="user_name" required>
          </mat-form-field>

          <mat-form-field  class=" my-full-width mb-3">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [(ngModel)]="newUser.user_email" name="user_email" required>
            <!--[formControl]="email"-->
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>


          <mat-form-field  class=" my-full-width mb-3">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newUser.user_password" name="user_password"
              required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field  class="my-full-width mb-3">
            <mat-label>Image</mat-label>
            <input matInput type="text" placeholder="Ex. dsadsa" name="user_profile_image_url"
              [(ngModel)]="newUser.user_profile_image_url" required>
          </mat-form-field>

          <mat-form-field  class=" my-full-width mb-3">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="newUser.user_role" name="user_role">
              <mat-option value="CONTRIBUTOR" selected>CONTRIBUTOR</mat-option>
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value="VIEWER">VIEWER</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox>I agree all policies</mat-checkbox>
          <button mat-raised-button type="submit" (click)="addUser()" class=" my-full-width center mb-3" color="primary">Let
            me Register on this awesome program</button>
          <a routerLink="/userlogin" class="login-text text-center mt-3">Back to login</a>
        </form>
      </div>
    </div>
  </div>
</div>
