.card{
    width: 60%;
}
.avatar-div{
    
}
.avatar-div, .avatar-img{
    height: 150px;
    width: 150px;
    border-radius: 15px 50px;
}
.container-black{
    background-color:#4d4646 !important;
}
.progress-bar{ background-color:#7fcd91 !important;}
.container-gray{
    background-color:#5b5656;
}
.black{color:#4d4646}
.green{color:#7fcd91}
.lightsmoke{color:#f5eaea}
.gray{color:#5b5656}
.lightsmoke-background{background-color:#f5eaea}
.height-100{height:100%}
.width-100{width:100%}
.icon-text{
 font-size: 30px;
}
.icon-div, .icon-div img{
    height: 50px;
    width: 50px;
    border-radius: 1px 20px;
}
.none-decor{
    text-decoration: none;
    font-weight: 200;
}