body, html, .row, .small-container {
    height: 100%; 
 
}
.background{
    background-image: url("../images/forest.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    /* opacity: 60%; */
    height: 100%;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.card{
    width: 450px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color:white;
    padding: 50px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.login-text, .login-text:hover{
    text-decoration: none;
    color: white;
    font-size: 10px;
}