<style>
* {
  box-sizing: border-box;
}
.box {
  float: left;
  width: auto;
  padding: 10px;
  margin-left:5px;
  margin-top:5px;
  border-radius: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.w3-tag{border-radius: 25px;background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
</style>
</head>
<body>

<h2>Grid of Boxes</h2>
<p>Float boxes side by side:</p>

<div class="clearfix">
  <div class="box" style="background-color:#bbb">
  <p>Some text inside the box.<input type="button" value="x"></p>  	
  </div>
  <p><span class="w3-tag w3-blue">New!</span></p>
</div>