<div *ngIf="name">

<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light bg-primary">
    <a class="navbar-brand" routerLink="/storymanager"><img src="../assets/images/logoblack.png" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" routerLink="/usermanager">Users <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mystorymanager">My Stories</a>
          </li>
          <li *ngIf="name==null" class="nav-item">
            <a class="nav-link" routerLink="/userlogin">Login</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/userregister">Register</a>
          </li>-->
          <!-- <li *ngIf="haveSession == false" class="nav-item">
            <a class="nav-link" >Logout</a>
          </li> -->
          
          
        </ul>
    </div>


    <form class="form-inline navbar-expand-sm ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <button mat-button class="ml-3" [matMenuTriggerFor]="menu" matTooltip="your session will active until {{expireTime}}  ">{{name}}</button>
      <mat-menu #menu="matMenu" style="z-index: 1000;">
        <button mat-menu-item routerLink="/userlogin">Logout</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    <!-- <li class="nav-item" *ngIf="expireTime && name ">
      <p class="nav-link"   >{{name}} </p>
    </li> -->
  </nav>
  
  <div style="height: 100px"></div>
</div>

  <router-outlet ></router-outlet>