.red {
    background-color: bisque;
}

.example-card {
    max-width: 100%;
}

.example-header-image {
    background-size: cover;
}

.mat-card-container{
    display: flex;
}

.fill {
    flex: 1;
  }

.mat-card-container :focus, .mat-menu-item :focus {
    outline: none;
    border: 0;
 }

 *:focus {
    outline: none !important;
    border: 0 !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 17% !important;
}

::ng-deep .mat-badge-content {
    color: #fff;
    background: #189b07;
}