
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
        <mat-card class="example-card mb-5" >
            <mat-card-header>
                
                <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/images/profile/unknown_user.png');"></div>

                <mat-card-title>Author</mat-card-title>
                <mat-card-subtitle>Stories Enthusiast</mat-card-subtitle>
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content style="border:1px gray solid">
                <input>
            </mat-card-content>
            <mat-card-actions >
                <button mat-button>Add Story</button>
                
            </mat-card-actions>
        </mat-card>
        
        <!-- CARD -->
        <mat-card class="example-card mb-5" *ngFor="let story of stories$; let index ">
            <mat-card-header class="mat-card-container">
                    <div mat-card-avatar class="example-header-image" *ngIf="story.story_author_image" [style.backgroundImage]="'url(../../../assets/images/profile/' + story.story_author_image + ')'"></div>
                <div mat-card-avatar class="example-header-image" *ngIf="story.story_author_image == null" style="background-image: url('../../../assets/images/profile/unknown_user.png');"></div>
                <mat-card-title>{{story.story_author}}</mat-card-title>
                <mat-card-subtitle>{{story.story_created_date | date:'medium'}}</mat-card-subtitle>
                <div class="fill"></div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>lock</mat-icon>
                          <span>Public status</span>
                        </button>
                        <button mat-menu-item (click)="passObject(story)" > <!--disabled-->
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>delete_forever</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
            </mat-card-header>
            <mat-card-content  >
                <img mat-card-image style="max-width: 100%; height: auto;"  class="img-fluid img-thumbnail" src="../../../assets/images/posts/{{story.story_image_url}}" alt="Photo of a Shiba Inu">
            </mat-card-content>
            <mat-card-content>
                
                <p>
                {{story.story_content}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button  class="ml-2 "matBadge="{{story.story_likes}}" matBadgePosition="before" >LIKE </button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-header class="mat-card-container" *ngFor="let item of story.story_comment | keyvalue">
                    <div mat-card-avatar class="example-header-image" *ngIf="item.key" [style.backgroundImage]="'url(/../../../assets/images/profile/' + item.key + '.jpg)'"></div>
                <mat-card-title>{{item.key}}</mat-card-title>
                <mat-card-subtitle>{{item.value}}</mat-card-subtitle>
                <div class="fill"></div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>notifications_off</mat-icon>
                      <span>Disable alerts</span>
                    </button>
                  </mat-menu>
            </mat-card-header>
        </mat-card>
        <!-- CARD -->
        
    </div>

    <div class="col-md-4">
            <mat-card class="example-card mb-5" >
                these contain analysis
                <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/images/profile/profile_image.jpg');"></div>
                    <mat-card-title>Author</mat-card-title>
                    <mat-card-subtitle>Stories Enthusiast</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="border:1px gray solid">
                    <input>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-button>Add Story</button>
                    
                </mat-card-actions> -->
            </mat-card>
    </div>

    </div>
</div>
