
<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-6">
    <h1>user manager page</h1>
    <div *ngIf="users$.length != 0">
        <div class="list-group">
                <li *ngFor="let user of users$ "  class="list-group-item " style=" width:100%">
                    <p (click)="toggle(user.user_id)" class="text-info" style="cursor:pointer; width:100%" >{{user.user_name}}</p>
                    <div class="list-group" *ngIf="activeEntityID == user.user_id">
                        <!--<button type="button" class="list-group-item list-group-item-action active">
                            Cras justo odio
                        </button> -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Name </mat-label>
                            <input matInput required placeholder="Ex. Sushi" [(ngModel)]="user.user_name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input matInput required placeholder="Ex. duc@gmail.com"  [(ngModel)]="user.user_email">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput required placeholder="Ex. 12345"  [(ngModel)]="user.user_password">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Profile Url</mat-label>
                            <input matInput required placeholder="Ex. abc/cat" [(ngModel)]="user.user_profile_image_url">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Role</mat-label>
                            <input matInput required placeholder="Ex. Admin" [(ngModel)]="user.user_role">
                        </mat-form-field>
                        <button mat-flat-button type="submit" color="primary" (click)="save(user)">Save</button>
                        <button mat-flat-button  color="warn" class="mt-2" (click)="delete(user)">Delete</button>
                    </div>
                </li>
                <li class="list-group-item ">
                    <button mat-stroked-button color="primary" style="width: 100%" (click)="openModalWithClass(template)">Add User</button>
                </li>
                
        </div>

    <ng-template #template>
        <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" style="width:100%" >
            <div class="list-group" >
                <!--<button type="button" class="list-group-item list-group-item-action active">
                    Cras justo odio
                </button> -->
                <mat-form-field class="example-full-width">
                    <mat-label>Name </mat-label>
                    <input matInput required placeholder="Ex. Sushi" style=" width:100%" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput required placeholder="Ex. duc@gmail.com"  style=" width:100%" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput required placeholder="Ex. 12345" style=" width:100%" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Profile Url</mat-label>
                    <input matInput required placeholder="Ex. abc/cat" style=" width:100%" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Role</mat-label>
                    <input matInput required placeholder="Ex. Admin" style=" width:100%" >
                </mat-form-field>
                <button mat-flat-button type="submit" color="primary" (click)="add(user)">Add</button>
                <button mat-flat-button  color="warn" class="mt-2" (click)="modalRef.hide()">Cancel</button>
            </div>
        </div>
    </ng-template>
    </div>
    <div *ngIf="users$.length == 0">
        No cotent displayed
    </div>

    </div>
  </div>
</div> 