body,
html,
.row,
.small-container {
    height: 100%;
}

.background {
    background-image: url("../../../assets/images/forest.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    /* opacity: 60%; */
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 450px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 50px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login-text,
.login-text:hover {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.my-full-width {
    width: 100%;
}

::ng-deep .mat-form-field .mat-input-element {
    /*change color of label*/
    color: white !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
    ;
}

 ::ng-deep input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

::ng-deep input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7) !important;
}

 ::ng-deep input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7) !important;
}

::ng-deep input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}