



<div class="background"></div>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card">
      <div class="card-body" *ngIf="activeProgressBar == false">
        <img class="logo" src="../../../assets/images/logowhite.png" alt="logo" >
        
        <form class="example-form"  #userForm="ngForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="my-full-width">
            <mat-label>Name</mat-label>
            <input matInput name="username" placeholder="Ex. duc" [(ngModel)]="newUser.user_name" color="white" required minlength="2" maxlength="20" size="10">
          </mat-form-field>
          
          <mat-form-field class="my-full-width">
            <mat-label>Password</mat-label>
            <input matInput name="password" type="password"  placeholder="Ex. 123"  [(ngModel)]="newUser.user_password" value="password" required >
          </mat-form-field>
          <button mat-raised-button  class="my-full-width mt-3" type="submit" color="primary">Log in </button>
          <p class="text-left mt-3">
            <a routerLink="/userregister" class="login-text">Register</a>
            <span style="float:right;">
                <a href="" class="login-text">Forgot password ?</a>
              </span>
            </p>
            <a routerLink="/" class="login-text">Back to homepage</a>
          </form>

          
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="activeProgressBar"></mat-progress-bar>
    </div>
  </div>
</div>