<h2>Messages</h2>
<div *ngIf="messageService.messages.length">
    <!-- <div *ngFor='let message of messageService.messages'>  </div> -->
        <button (click)="messageService.clear()" type="button" class="btn btn-outline-danger mb-3" style="width: 100%">clear all</button>
        <div *ngFor='let message of messageService.messages; let i = index' class="alert alert-info alert-dismissible fade show">
        <button (click)="messageService.deletemMess(i)" type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
        </div>
</div>