
        <div class="form-group">
          <mat-form-field class="example-full-width" style="width:100%">
            <mat-label>Story Title</mat-label>
            <textarea matInput [(ngModel)]="story.story_title" placeholder="Story Title ..."></textarea>
          </mat-form-field>

          <div class="form-group">
              <mat-form-field class="example-full-width" style="width:100%">
                <mat-label>Story Image</mat-label>
                <textarea matInput [(ngModel)]="story.story_image_url" placeholder="Story Title ..."></textarea>
              </mat-form-field>


        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width" style="width:100%">
                <mat-label>Story Content</mat-label>
                <textarea matInput [(ngModel)]="story.story_content" placeholder="content ... "></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" style="width:100%">
                  <mat-label>Story Author Image</mat-label>
                  <textarea matInput [(ngModel)]="story.story_author_image" placeholder="content ... "></textarea>
            </mat-form-field>
          </div>

      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button (click)="save()" class="btn btn-primary">Submit</button>
      <button (click)="closeTemp()" class="ml-5 btn btn-danger">Cancel</button>
                